{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa de Produtos</title>
    {% bootstrap_css %}
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">Minha Loja</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contato' %}">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'produto' %}">Criar Produto</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'buscar_produto' %}">Buscar Produto</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
        <h1>Produto</h1>
        {% bootstrap_messages %}
      
        <!-- Formulário de Pesquisa com apenas um campo -->
        <form action="{% url 'buscar_produto' %}" method="get" class="form-inline">
            <div class="form-group mx-sm-3">
                <input type="text" name="consulta" class="form-control" placeholder="Buscar produto">
            </div>
            <button type="submit" class="btn btn-outline-primary">Pesquisar</button>
        </form>
                <!-- Exibição dos Resultados da Pesquisa -->
                {% if pesquisa %}
                {% if resultados %}
                    <h2>Resultados da Pesquisa</h2>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Produto</th>
                                <th>Preço</th>
                                <th>Estoque</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in resultados %} <!-- Exibindo os produtos que estão sendo buscados no banco de dados: -->
                            <tr>
                                <td>{{ produto.id }}</td>
                                <td> <a href="#modal{{produto.id}}" data-toggle="modal">{{ produto.nome }}</a></td>
                                <td>{{ produto.preco }}</td>
                                <td>{{ produto.estoque }}</td>
                            </tr>
                            <div class="modal fade bd modal-lg show" id="modal{{produto.id}}">
                              <div class="modal-dialog">
                                <img src="{{produto.imagem.url}}" class="img-fluid" alt="{{produto.nome}}">
                              </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h2>Bicho, isso não tem aqui.</h2>
                {% endif %}
            {% endif %}
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>