{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <!--Formulário para o usuáfio confirmar a exclusão. Se ele confirmar
        vai ser chamado a view deletar_produto e passamos o id do produto.-->
        <h1>Confirmar Exclusão</h1>
        <p>Você tem certeza de que deseja excluir o produto "{{ produto.nome }}"?</p>
        <form action="{% url 'deletar_produto' produto.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>
